@model MODEL.RestaurantAndTableModel;
@{
    ViewData["Title"] = "AddTable";
}


<div class="registrerenForm">
    <div class="row">
        <div class="formRegistreren">
            <h1 class="formH1Text">AddTable</h1>
            <form asp-action="AccountDetails" asp-controller="Register">


                <div class="row formInput">
                    <div class="col-sm-4">
                        Restaurant:
                    </div>
                    <div class="col-sm-4">
                        <select name="restaurants" asp-for="tableModel.restaurantID">
                            @foreach (var item in Model.restaurantModels)
                            {
                                <option value="@item.restaurantID">
                                    @Html.DisplayFor(modelItem => item.restaurantName)
                                </option>
                            }

                        </select>
                    </div>
                </div>
                <div class="row formInput">
                    <div class="col-sm-4">
                        aantal personen:
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="tableModel.forThisAmountOfPeaple"  />
                    </div>
                </div>
                




                @*<div class="row formInput">
                    <div class="col-sm-4">
                        Naam:
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="UserModelEmpty.name" placeholder="@Model.UserModelFull.name" />
                    </div>
                </div>
                <div class="row  formInput">
                    <div class="col-sm-4">
                        TelefoonNr:
                    </div>

                    <div class="col-sm-4">
                        <input asp-for="UserModelEmpty.telNr" placeholder="@Model.UserModelFull.telNr" />
                    </div>
                </div>

                <div class="row  formInput">
                    <div class="col-sm-4">
                        Gebruikersnaam:
                    </div>

                    <div class="col-sm-4">
                        <input asp-for="UserModelEmpty.username" placeholder="@Model.UserModelFull.username" />
                    </div>
                </div>

                <div class="row  formInput">
                    <div class="col-sm-4">
                        Wachtwoord:
                    </div>

                    <div class="col-sm-4">
                        <input asp-for="UserModelEmpty.password" placeholder="Your password goes here" />
                    </div>
                </div>*@



                <div class="row formInput">
                    <div class="col-lg-1">
                        <input type="submit" value="Register" />
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>