@model MODEL.AdvancedModels.ReservationEmptyReservationRestaurantModel
@{
    ViewData["Title"] = "EditReservation";
}


    <div class="reserverenPage">

        <div class="row">
            <div class="formReserveren">
                <h1 class="formH1Text">Reserveren</h1>
                <form asp-action="Reserveren" asp-controller="Reservation">
                    <div class="row formInput">
                        <div class="col-sm-4">
                            Naam:
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="reservationEmpty.Name" placeholder="@Model.reservationFull.Name" id="reserveName" />
                        </div>
                    </div>
                    <div class="row  formInput">
                        <div class="col-sm-4">
                            Datum:
                        </div>

                        <div class="col-sm-4">
                            <input type="date" asp-for="reservationEmpty.date" id="@Model.reservationFull.date" />
                        </div>
                    </div>
                    <div class="row  formInput">
                        <div class="col-sm-4">
                            TelefoonNr:
                        </div>

                        <div class="col-sm-4">
                            <input asp-for="reservationEmpty.telNr" placeholder="Your phone number goes here" id="@Model.reservationFull.telNr" />
                        </div>

                    </div>
                    <div class="row  formInput">
                        <div class="col-sm-4">
                            Aantal personen:
                        </div>

                        <div class="col-sm-1">
                            <input type="number" asp-for="reservationEmpty.amountOfPeaple" id="@Model.reservationFull.amountOfPeaple" />
                        </div>

                    </div>
                    <div class="row  formInput">
                        <div class="col-sm-4">Opmerkingen:</div>

                        <div class="col-sm-4">
                            <input type="text" asp-for="reservationEmpty.note" id="@Model.reservationFull.note" />
                        </div>


                    </div>

                    <div class="row  formInput">
                        <div class="col-sm-4">Restaurant:</div>
                        @try
                        {
                            <div class="col-sm-4">
                                <select asp-for="reservationFull.restaurant" id="restaurant">
                                    @foreach (var item in Model.restaurant)
                                    {
                                        <option value="@item">@item</option>
                                    }

                                </select>
                                @*@Html.DropDownListFor(model => model.Restaurants, new SelectList(Model.Restaurants))*@

                            </div>
                        }
                        catch (Exception)
                        {

                            throw;
                        }



                    </div>

                    <div class="row  formInput">
                        <div class="col-lg-1">
                            <input type="submit" value="Reserveer" id="submit" />
                        </div>

                    </div>
                    @ViewBag.Result

                </form>
            </div>
        </div>



    </div>